---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE } from "../consts";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead
            title={title}
            siteName={SITE_TITLE}
            description={description}
            image={heroImage}
        />
        <style>
            main {
                max-width: 100%;
                margin: 0;
            }

            article {
                padding: 3rem 1rem;

                /* 100vh - header height - footer height - padding - some margin */
                min-height: calc(100vh - 68px - 82px - 6rem - 2px);
            }

            .hero-image {
                width: 100%;
            }

            .hero-image img {
                display: block;
                margin: 0 auto;
                border-radius: 12px;
                box-shadow: var(--box-shadow);
            }

            .prose {
                width: 980px;
                max-width: calc(100% - 2rem);
                margin: auto;
                padding: 1rem;
                color: var(--fg-color3);
            }

            .title {
                padding-top: 1rem;
                text-align: center;
                line-height: 1;
            }

            .title h1 {
                margin: 0 0 2rem;
            }

            .date {
                margin-bottom: 0.5rem;
                color: var(--fg-color2);
            }

            .last-updated-on {
                font-style: italic;
            }

            .content {
                margin: 0 auto;
                width: 720px;
            }

            .divider {
                margin-bottom: 2rem;
            }
        </style>
    </head>

    <body>
        <Header />
        <main>
            <article>
                <div class="hero-image">
                    {
                        heroImage && (
                            <img
                                width={1020}
                                height={510}
                                src={heroImage}
                                alt=""
                            />
                        )
                    }
                </div>
                <div class="prose">
                    <div class="title">
                        <div class="date">
                            <FormattedDate date={pubDate} />
                            {
                                updatedDate && (
                                    <div class="last-updated-on">
                                        Last updated on{" "}
                                        <FormattedDate date={updatedDate} />
                                    </div>
                                )
                            }
                        </div>
                        <h1><span class="unselectable">&gt;</span>{title}</h1>
                    </div>
                    <div class="content">
                        <hr class="divider" />
                        <slot />
                    </div>
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
